<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>document</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"><!--https://fontawesome.com/icons?d=gallery-->
</head>

<body>
    <header id="add_header">
        <nav><a href=""><i class="fa fa-chevron-left"></i></a></nav>
        <h1 id="vraagh1">Vragen toevoegen</h1>
    </header>
    <main>
    {{{body}}}
    </main>


    <footer id="add_footer">
        <p>Matching app</p>
    </footer>
</body>
<script type="text/javascript" src="/public/js/script.js"></script>
</html>