<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>document</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"><!--https://fontawesome.com/icons?d=gallery-->
</head>

<body>
    <header>
        <nav id="chat_nav"><a href=""><i class="fa fa-chevron-left"></i></a></nav>
        <h1>Maaike</h1>
    </header>
    <main>
    {{{body}}}
    </main>


    <footer id="chat_footer">
        <a href="#"><img src="public/images/camera.png" alt="add a picture"></a>
        <form action="post">
            <input type="text" placeholder="type here...">
            <input type="submit" value="" id="submitText">
        </form>
    </footer>
</body>
<script type="text/javascript" src="/public/js/script.js"></script>
</html>