<h2 id="vraagh2">Vraag toevoegen</h2>

    <form action="vragen" method="post" id="vraagform">
        <fieldset>
            <label for="vraag">Vraag:</label><br>
            <input id="vraag" type="text" name="vraag" required>
        </fieldset>
        <fieldset>
            <label for="answer1">Antwoord 1:</label><br>
            <input id="answer1" type="text" name="answer1"required>
        </fieldset>
        <fieldset>
            <label for="answer2">Antwoord 2:</label><br>
            <input id="answer2" type="text" name="answer2"required>
        </fieldset>
        <button>Toevoegen</button>
    </form>