    <section>
		<h1>Icebreaker</h1>
		<p>4 chats</p>
	</section>

	<section id="profiel_1">
		<img src="images/pexels-photo-220453.jpeg">
		<ul>
			<li>{{name}}</li>
			<li>{{games}} jaar</li>
		</ul>
		<div>
			<div>
				<a href=""><img src="" alt=""></a>
				<button id=""><img src="" alt=""></button>
			</div>
		</div>
	</section>

	</section>