<section id="login_pagina">
	<div class="login_container">
	<h1>Welkom</h1>
	<form>
		<div>
			<div id="icon_user"></div>
			<input id="login_naam" type="text" name="username" placeholder="Gebruikersnaam">
		</div>
		<div>
			<input id="login_password" type="password" name="password" placeholder="Wachtwoord">
		</div>
		<div id="rememberme">
			<input id="login_rememberme" type="checkbox" role="checkbox" name="rememberme">
			<span>Aangemeld blijven</span>
		</div>

		<a id="login_aanmelden" class="button" href="/match">Aanmelden</a>
		<a id="login_registreren" class="button"  href="/match">Registreren</a>
	</form>
	</div>
</section>