<section>
		<h1>Profiel</h1>
		<p>Personaliseer je profiel.</p>
	</section>

	<section id="profiel">
		<img src="public/images/pexels-photo-220453.jpeg">
			<p>{{name}}</p>
			<p>{{age}} jaar</p>
		<a class="button" href="changeinfo">Aanpassen</a>
	</section>

	<section id="movies">
		<h2>Favorieten films</h2>

		<ul>
			{{#each favoritemovies}}  
				<li>
                     <img src="public/images/{{this}}.jpg" alt={{this}}>
                </li>
                {{/each}}
        </ul>
		<a class="button" href="changemovie">Aanpassen</a>

	</section>	