<section>
		<h1>Profiel</h1>
		<p>Personaliseer je profiel.</p>
	</section>

	<section id="profiel">
		<img src="public/images/pexels-photo-220453.jpeg">
			<p>{{name}}</br>{{age}} jaar</p>
		<a class="button" href="overzichtPersoon">Aanpassen</a>
	</section>

	<section id="games">
		<h2>Favorieten games</h2>

		<ul>
			{{#each favoritegames}}  
				<li>
                     <img src="{{this}}" >
                </li>
                {{/each}}
        </ul>
		<a class="button" href="overzichtGames">Aanpassen</a>

	</section>	