*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
}

html {
    height: 100%;
}

body {
    position: relative;
    font-family: 'Lato', sans-serif;
    height: 100%;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

header h1 {
    width: 50%;
    color: #257EBB;
    padding: 0.5em 0;
}

main {
    padding: 35px;
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding-bottom: 100px;
}

a.button, button, .button{
    background-color: #287CB9;
    color: white;
    width: max-content;
    border: none;
    padding: 0.5em 1em;
    border-radius: 10px;
    font-size: 1em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/*navigatie fixed*/
nav{
    width: 100vw;
    padding: 15px 35px;
    position: fixed;
}

nav ul{
    display: flex;
    justify-content: space-between;
}

nav ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul li img {
    height: 2em;
}

nav ul li:hover img, .current {
    filter: invert(43%) sepia(25%) saturate(1279%) hue-rotate(161deg) brightness(97%) contrast(100%);
}

#main_nav {
    border-top: 1px solid;
    background-color: white;
    bottom: 0;

}

#chat {
    display: flex;
    flex-direction: column;
}
main #chat #result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0.5em;
    margin-bottom: 1em;
    text-align: center;
}

main #chat .chat_msg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0em;
    width: 45%;
    border-radius: 2em;
    position: relative;
    
}

main #chat #msg1 {
    background-color: #257EBB;
    margin-left: 1em;
    
}

main #chat #msg1::before { /*https://codingislove.com/css-speech-bubbles/*/
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #257EBB;
    border-right: 10px solid transparent;
    border-top: 10px solid #257EBB;
    border-bottom: 10px solid transparent;
    bottom: -12px;
    left: 8px;
}

main #chat #msg2 {
    background-color:grey;
    align-self: flex-end;
    margin-right: 1em;
    
}

main #chat #msg2::before { /*https://codingislove.com/css-speech-bubbles/*/
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid  transparent; 
    border-right: 10px solid grey;
    border-top: 10px solid grey;
    border-bottom: 10px solid transparent;
    bottom: -12px;
    right: 8px;
}

#popUpWrapper {
    background-color: rgba(0, 0, 0, 50%);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-content: center;
}

#popUp {
    background-color: white;
    margin: auto;
    width: 90%;
    padding: 1em;
}

#popUp a {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em; 
}

#popUp a i {
    margin-right: 0.25em;
}

#popUp #questions, #popUp .answers {
    text-align: center;
}

#popUp #questions .quest {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 1em 0em;
    cursor: pointer;
}

#popUp #questions .quest:last-of-type {
    border-bottom: 1px solid black;
}

.invisible {
    display: none;
}

#popUp .answers form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#popUp .answers form label {
    cursor: pointer;
    margin: 0.5em 0em;
}

#popUp .answers form fieldset, #popUp .answers form #sendAnswer {
    margin-top: 1em;
    max-width: 11em;
}

#popUp .answers form #sendAnswer {
    padding: 0.5em;
    border-radius: 2em;
    border: 1px solid black;
    background-color: #EB0C0C;
}

#chat_footer {
    min-height: 3em;
    background-color: white;
}

#chat_footer, #add_footer {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    bottom: 0;
    left: 0;
    border-top: 1px solid black;
}

#chat_footer a img {
    width: 2em;
    margin: 0em 0.5em;
}

#chat_footer section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#chat_footer section input:first-of-type {
    border: 1px solid black;
    width: 20em;
    margin-right: 1em;
    height: 2em;
    padding-left: 0.5em;
    border-radius: 1em;
}

#chat_footer section #submitText {
    border: none;
    background-image: url(../images/paper-plane-solid.svg);
    background-repeat: no-repeat;
    background-size: 2em;
    width: 2em;
    height: 2em;
    background-color: transparent;
    padding: 0;
}
#add_header, #add_footer {
    height: 10%;
}

#add_header h1 {
    font-size: 1.5em;
    width: 75%;
}

#vraagh2 {
    text-align: center;
    margin: 1em 0em 0.5em 0em;
}
#vraagform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#vraagform fieldset {
    margin-top: 1em;
    border: none;
}

#vraagform button{
    border-radius: 2em;
    border: 1px solid black;
    margin-top: 01em;
    padding: 0.5em 1.5em;
    font-size: 1.25em;
}


/*Profiel pagina*/
section#profiel {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}

section#profiel img {
    border-radius: 50%;
    width: 100%;
}


section#profiel p {
    grid-column: 2;
align-self: center;
}

section#games{
    display: flex;
    flex-direction: column;
        gap: 10px;
}

section#games ul {
display: flex;
    gap: 10px;
}

section#games li {
    list-style: none;
       width: 30vw;
}
section#games img {
 width: 100%;
}

/*add game select game*/
section#addGames {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section#addGames ul {
    display: grid;
    list-style: none;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

section#addGames ul li {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
        text-align: center;
    gap: 8px;
    position: relative;
}

section#addGames ul li input[type="checkbox"] {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
}

section#addGames ul li img {
    width: 100%;
}

section#addGames label {
    text-align: -webkit-center;
}

section#addGames h3 {
    font-size: 15px;
    min-height: 40px;
}

#add_footer {
    display: flex;
    justify-content: center;
}


/* Login pagina */
#login_pagina{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login_pagina h1{
    font-size: 40px;
    border-bottom: 6px solid #257EBB;
    margin-bottom: 50px;
    padding: 13px 0;
}


.login_container{
    width: 360px;
    height: 420px;
    margin-top: 4em;
    background: #000;
    color: #fff;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: center;
    background-color: gray;
    flex-direction: column;
    padding: 2em;

}

#login_pagina form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0 15%;
}

#login_pagina form .button, #login_pagina form #login_naam, #login_pagina form #login_password{
    width: 100%;
}

#login_rememberme{
    height: 28px;
    width: 28px;
}

/* #login_pagina form *  */
#rememberme{
    display: inline-flex;
    width: auto;
}


#icon_user{
    width: 28px;
    height: 28px; 
    background-image: url('../images/default/1x/login/sprite-sd716acf281.png');
    background-position: 0 0;
}

.button{
    color: white;
    padding: 7px;
    border-radius: 20px;
    width: max-content;
    border: none;
    background-color: #257EBB;
    text-align: center;
}

/* Chat Home Pagina */
#chathome{
    width: 375px;
    display: flex; 
}


#profileimage {
    width: 100%;
    border-radius: 50%;
}

.match a img{
    max-height: 2em;
}

fieldset {
    border: 0;
}

.match article{
    margin: 0.5em;
    padding: 1em;
}

.filter {
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.match a img{
    max-height: 2em;
}

.match {
    padding: 0 0 5em 0;
}

 
  .icon_box{
    display: flex;
    flex-direction: column;
}


#close_icon{
    width: 50px;
    height: 50px;
    filter: invert(13%) sepia(98%) saturate(4968%) hue-rotate(359deg) brightness(95%) contrast(94%);
}

#chat_icon{
    width: 50px;
    height: 50px;
    filter: invert(43%) sepia(25%) saturate(1279%) hue-rotate(161deg) brightness(97%) contrast(100%);
}

#chat_home button{
    border: none;
    background-color: white;
}

.profile_pic{
    width: 120px;
    height: 120px;
    border-radius: 60px;
}

.profile_box{
    display: flex;
    margin: 2em;
    padding-bottom: 1em;
    border-bottom: #000 1px solid;
    gap: 40px;
}

.profile_box img {
    width: 90px;
    height: 90px;
}

#profile_info{
    align-self: center;
}

.match div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.match div img{
    border-radius: 200px;
    padding: 0.5em;
    max-height: 5em;
    margin: 1em;
    width: 5em;
} 

#ice_button {
    position: fixed;
    bottom: 10%;
    left: 30%;
    padding: 0.5em;
    background-color: #257EBB;
    border-radius: 1.5em;
    color: white;
}

#chat_header, #add_header {
    background-color: #257EBB;
}

#chat_header h1, #add_header h1 {
    color: black;
    text-align: center;
    padding: 0.25em 0em;
}

.nieuwBericht {
    background-color: #257EBB;
    margin-bottom: 1em;
    text-align: center;
}

.nieuwBericht::before { /*https://codingislove.com/css-speech-bubbles/*/
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #257EBB;
    border-right: 10px solid transparent;
    border-top: 10px solid #257EBB;
    border-bottom: 10px solid transparent;
    bottom: -12px;
    left: 8px;
}

#bericht, #submitText {
    outline: none;
}

#chat_main {
    padding: 1.5em;
    padding-bottom: 3em;
}